/* Classes styles go under here */

.countdown {
    h2 {
        font-size: 4rem;
        color: white;
        text-transform: uppercase;
      }
      h3 {
        font-size: 3rem;
        color: white;
      }
      h4 {
        font-size: 2rem;
        color: red;
      }
    background: linear-gradient(35deg, #0b6e3b, #44a0a5, #194b7b);
    background-size: 600% 600%;
    padding: 3rem;
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
    min-height: 300px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}

.mudra {
  background: url(background-images/mudra.jpg) no-repeat center center fixed; 
  background-size: cover;
  min-height: 50vh;
  padding-top: 4rem;
  margin-bottom: 4rem;
  h4 {
    font-size: 2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    i {
        font-weight: 100; 
        font-size: 1rem;
    }
}
}

.ui-state-default {
  border: 1px solid #d3d3d3;
  background: #cee4e9 !important;
}

.gallery {
  display: none;
}

@media (min-width: 768px) {
  .gallery {
    display: block;
    background-color: antiquewhite;
  padding: 2rem 4rem;
  }
 }

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
    padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-gallery {
  display: block;
}

@media (min-width: 768px) {
  .mobile-gallery {
    display: none;
  }
 }