/* Font styles go under here */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,400;0,600;1,400&family=Roboto+Slab:wght@400;700&display=swap'); 

h1, h2, h3, h4 {
    color: $branding-blue; 
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.navbar-brand {
    font-family: 'Lobster', cursive;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.bold-sans-serif {
    color: $orange-branding;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

@media (max-width: 767.98px) { 
    .bold-sans-serif {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
 }

