/* Footer styles go under here */
footer {
    background-color: $orange-branding;
    text-align: center;
    color: white;
    padding: 2rem 0rem 2rem 0rem;
    i {
        padding: 0.3rem;
        font-size: 2rem;
    }
    p {
        padding-top: 0.5rem;
    }
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}

.fa-brands:hover {
    display: inline-block;
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }