/* Print styles go under here */ 
@media print {
    .navbar,
    footer,
    .hero-home,
    .mobile-gallery,
    .gallery,
    .more-contact {
        display: none;
    }

    .home-testimonial {
        color: black;
        font-weight: 400;
        font-size: 16px;
    }
 }