/* Sub nav styles go under here */ 
.navbar {
  background-color: $omchanting-blue; 
  a {
    float: left;
  
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
} 
  .subnav {
    float: left;
    overflow: hidden;
    .subnavbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
}
  

  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: $medom-blue;
    width: 100%;
    z-index: 1;
    a {
      float: left;
      color: white;
      text-decoration: none;
    }
  }
 
  .subnav-content a:hover {
    background-color: $lightom-blue;
    color: black;
  }

  .subnav-content  {
    -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
  .subnav:hover .subnav-content {
    display: block;
  }

  .links {
    min-height: 300px;
  }

  .blue {
  background-color: $omchanting-blue; 
  }