/* Font styles go under here */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,400;0,600;1,400&family=Roboto+Slab:wght@400;700&display=swap");
h1, h2, h3, h4 {
  color: #324189;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.navbar-brand {
  font-family: "Lobster", cursive;
}

body {
  font-family: "Montserrat", sans-serif;
}

.bold-sans-serif {
  color: #e18404;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Header styles go under here */
.bg-dark {
  background-color: #e18404 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
}

/* Classes styles go under here */
.countdown {
  background: linear-gradient(35deg, #0b6e3b, #44a0a5, #194b7b);
  background-size: 600% 600%;
  padding: 3rem;
  -webkit-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
  min-height: 300px;
}
.countdown h2 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}
.countdown h3 {
  font-size: 3rem;
  color: white;
}
.countdown h4 {
  font-size: 2rem;
  color: red;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}
.mudra {
  background: url(background-images/mudra.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 50vh;
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.mudra h4 {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.mudra h4 i {
  font-weight: 100;
  font-size: 1rem;
}

.ui-state-default {
  border: 1px solid #d3d3d3;
  background: #cee4e9 !important;
}

.gallery {
  display: none;
}

@media (min-width: 768px) {
  .gallery {
    display: block;
    background-color: antiquewhite;
    padding: 2rem 4rem;
  }
}
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-gallery {
  display: block;
}

@media (min-width: 768px) {
  .mobile-gallery {
    display: none;
  }
}
/* Contact form styles go under here */
.contact-form {
  text-transform: uppercase;
  color: white;
}
.contact-form .btn-success {
  text-transform: uppercase;
}

.top-contact {
  background-color: #324189;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .map {
    margin-top: 1rem;
  }
}
.featured-teachers {
  background: rgb(9, 9, 121);
  background: linear-gradient(0deg, rgb(34, 111, 138) 0%, rgb(47, 146, 171) 22%, rgb(80, 200, 225) 100%);
  padding: 2rem;
  border-bottom: 5px solid white;
}
.featured-teachers h2 {
  color: white;
  text-transform: uppercase;
}

.map {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@media (max-width: 767.98px) {
  .map {
    margin: 0rem;
    margin-top: 1rem;
  }
}
.map {
  display: inline-block;
  margin: 0rem;
  margin-top: 1rem;
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

/* Slide in navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.slidein {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
/* Body styles go under here - General styles */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border-radius: 1rem;
  outline: none;
  background-color: rgb(20, 49, 134);
  color: white;
  cursor: pointer;
  padding: 15px;
  border: 0px;
}

#myBtn:hover {
  background-color: #000;
}

.full-width {
  width: 100%;
}

.registration-form {
  background-color: aquamarine;
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 3px;
}

.center {
  margin: auto;
}

.med-width {
  max-width: 800px;
}

.med-container {
  max-width: 1000px;
}

.orange-border {
  border: 3px solid #ff4f0b;
  border-top: 0px;
}

tbody {
  border-width: 1px;
}

.techniques-testimonial {
  background: url(background-images/techniques.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 40vh;
  padding-top: 3rem;
  border-bottom: 5px solid white;
}
.techniques-testimonial h4 {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.techniques-testimonial h4 i {
  font-weight: 100;
  font-size: 1rem;
}

.philosophy-testimonial {
  background: url(background-images/lunge.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 5px solid white;
}
.philosophy-testimonial h4 {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.philosophy-testimonial h4 i {
  font-weight: 100;
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  .philosophy-testimonial {
    padding-bottom: 3rem;
  }
  .philosophy-testimonial h4 {
    font-size: 1.6rem;
  }
  .philosophy-testimonial h4 i {
    font-size: 0.7rem;
  }
}
@media (max-width: 575.98px) {
  .philosophy-testimonial h4 {
    font-size: 1.2rem;
  }
  .philosophy-testimonial h4 i {
    font-size: 0.5rem;
  }
}
.red {
  color: red;
}

.reduce-left-margin {
  margin-left: -1.5rem;
}

#scrollTop {
  position: fixed;
  bottom: 8px;
  right: 6px;
  height: 22px;
  width: 65px;
  background-color: #777;
  color: #fff;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}

/* Sub nav styles go under here */
.navbar {
  background-color: #1e90a4;
}
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #41c4c9;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #9fdcdf;
  color: black;
}

.subnav-content {
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
.subnav:hover .subnav-content {
  display: block;
}

.links {
  min-height: 300px;
}

@media (max-width: 767.98px) {
  .links {
    min-height: 400px;
  }
}
.blue {
  background-color: #1e90a4;
}

/* Home page styles go under here */
.hero-home {
  min-height: 400px;
  background: linear-gradient(135deg, #25237a, #5da0bf, #30c390);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}
.hero-home h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: white;
  max-width: 900px;
  margin: auto;
  padding-top: 9rem;
}

@media (max-width: 767.98px) {
  .hero-home {
    min-height: 150px;
  }
  .hero-home h1 {
    font-size: 3rem;
    padding-top: 3rem;
  }
}
@media (max-width: 575.98px) {
  .hero-home {
    min-height: 100px;
  }
  .hero-home h1 {
    font-size: 1.7rem;
    padding-top: 2rem;
  }
}
.home-testimonial {
  background: url(background-images/yoga-pose.jpg) no-repeat center center fixed;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 5px solid white;
}
.home-testimonial h4 {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.home-testimonial h4 i {
  font-weight: 100;
  font-size: 1rem;
}

@media (max-width: 767.98px) {
  .home-testimonial {
    padding-bottom: 3rem;
  }
  .home-testimonial h4 {
    font-size: 1.6rem;
  }
  .home-testimonial h4 i {
    font-size: 0.7rem;
  }
}
@media (max-width: 575.98px) {
  .home-testimonial h4 {
    font-size: 1.2rem;
  }
  .home-testimonial h4 i {
    font-size: 0.5rem;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
#quote, #press {
  padding: 1rem;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, #25237a, #5da0bf, #30c390);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}

#quote {
  border-top: solid 1px #1e90a4;
  border-bottom: solid 5px white;
  padding: 50px;
  display: none;
}

/* Footer styles go under here */
footer {
  background-color: #e18404;
  text-align: center;
  color: white;
  padding: 2rem 0rem 2rem 0rem;
}
footer i {
  padding: 0.3rem;
  font-size: 2rem;
}
footer p {
  padding-top: 0.5rem;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}

.fa-brands:hover {
  display: inline-block;
  -webkit-animation: rubberBand;
          animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2s;
          animation-duration: 2s; /* don't forget to set a duration! */
}

/* Print styles go under here */
@media print {
  .navbar,
footer,
.hero-home,
.mobile-gallery,
.gallery,
.more-contact {
    display: none;
  }
  .home-testimonial {
    color: black;
    font-weight: 400;
    font-size: 16px;
  }
}/*# sourceMappingURL=mainstyles.css.map */