/* Font styles go under here */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,400;0,600;1,400&family=Roboto+Slab:wght@400;700&display=swap");
h1, h2, h3, h4 {
  color: #324189;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
}

.navbar-brand {
  font-family: "Lobster", cursive;
}

body {
  font-family: "Montserrat", sans-serif;
}

.bold-sans-serif {
  color: #e18404;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* Header styles go under here */
.bg-dark {
  background-color: #e18404 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
}

/* Classes styles go under here */
.countdown {
  background: linear-gradient(35deg, #0b6e3b, #44a0a5, #194b7b);
  background-size: 600% 600%;
  padding: 3rem;
  -webkit-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
  min-height: 300px;
}
.countdown h2 {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
}
.countdown h3 {
  font-size: 3rem;
  color: white;
}
.countdown h4 {
  font-size: 2rem;
  color: red;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 61%;
  }
  100% {
    background-position: 0% 40%;
  }
}
.mudra {
  background: url(background-images/mudra.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 50vh;
  padding-top: 4rem;
  margin-bottom: 4rem;
}
.mudra h4 {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.mudra h4 i {
  font-weight: 100;
  font-size: 1rem;
}

.ui-state-default {
  border: 1px solid #d3d3d3;
  background: #cee4e9 !important;
}

.gallery {
  display: none;
}

@media (min-width: 768px) {
  .gallery {
    display: block;
    background-color: antiquewhite;
    padding: 2rem 4rem;
  }
}
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 800px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile-gallery {
  display: block;
}

@media (min-width: 768px) {
  .mobile-gallery {
    display: none;
  }
}
/* Contact form styles go under here */
.contact-form {
  text-transform: uppercase;
  color: white;
}
.contact-form .btn-success {
  text-transform: uppercase;
}

.top-contact {
  background-color: #324189;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .map {
    margin-top: 1rem;
  }
}
.featured-teachers {
  background: rgb(9, 9, 121);
  background: linear-gradient(0deg, rgb(34, 111, 138) 0%, rgb(47, 146, 171) 22%, rgb(80, 200, 225) 100%);
  padding: 2rem;
  border-bottom: 5px solid white;
}
.featured-teachers h2 {
  color: white;
  text-transform: uppercase;
}

.map {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: fadeIn;
          animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s; /* don't forget to set a duration! */
}

/* Body styles go under here */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border-radius: 2rem;
  outline: none;
  background-color: rgb(20, 49, 134);
  color: white;
  cursor: pointer;
  padding: 10px;
  border: 0px;
}

#myBtn:hover {
  background-color: #000;
}

/* Home page styles go under here */
.hero-home {
  min-height: 400px;
  background: linear-gradient(135deg, #25237a, #5da0bf, #30c390);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 22s ease infinite;
  animation: AnimationName 22s ease infinite;
}
.hero-home h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 5rem;
  color: white;
  max-width: 900px;
  margin: auto;
  padding-top: 9rem;
}

.home-testimonial {
  background: url(background-images/yoga-pose.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 40vh;
  padding-top: 3rem;
}
.home-testimonial h4 {
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.home-testimonial h4 i {
  font-weight: 100;
  font-size: 1rem;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
/* Footer styles go under here */
footer {
  background-color: #e18404;
  text-align: center;
  color: white;
  padding: 2rem 0rem 2rem 0rem;
}
footer i {
  padding: 0.3rem;
  font-size: 2rem;
}
footer p {
  padding-top: 0.5rem;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}

.fa-brands:hover {
  display: inline-block;
  -webkit-animation: rubberBand;
          animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  -webkit-animation-duration: 2s;
          animation-duration: 2s; /* don't forget to set a duration! */
}/*# sourceMappingURL=mainstyles.css.map */